In [3]:
import pandas as pd

In [6]:
shark_attack = pd.read_csv(r'/Users/FAB/Documents/GitHub/Limpeza-de-Dados-Shark/attacks.csv', encoding = 'latin-1')

In [7]:
shark_attack

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
shark_attack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [30]:
#shark_attack.columns = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
#       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
#       'Species ', 'Investigator or Source']

In [34]:
shark_attack = shark_attack.drop(['pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'], axis = 1)

In [35]:
shark_attack

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
shark_attack.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
dtype: object

In [37]:
brazil_mask = shark_attack ['Country'] == 'BRAZIL'

In [40]:
shark_attack = shark_attack.drop('Name', axis = 1)

In [59]:
#shark_attack [brazil_mask]

In [60]:
#pernambuco_mask = shark_attack['Area'] == 'Pernambuco'
#shark_attack[pernambuco_mask]

In [100]:
pd.set_option('display.max_rows', 20)

In [48]:
#shark_attack[pernambuco_mask]

In [61]:
shark_attack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source'],
      dtype='object')

In [64]:
shark_attack.columns = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species',
       'Investigator or Source']

In [81]:
#mascara_tigre = shark_attack['Species'].str.lower().str.contains('tiger')

In [92]:
shark_attack.shape

(25723, 15)

In [96]:
shark_attack.dropna(axis=0, how='any', subset='Species', inplace=True)
#remoÃ§ao de linhas sem identificaÃ§ao da espÃ©cie de tubarÃ£o

In [101]:
mascara_tiger = shark_attack['Species'].str.lower().str.contains('tiger')

In [102]:
shark_attack[mascara_tiger]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018"
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,Costa Rica Star. 4/28/2018
23,2018.04.23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,M,32,5-inch cut to hand,N,21h50,Tiger shark,"K. McMurray, TrackingSharks.com"
30,2018.04.14,14-Apr-2018,2018.0,Unprovoked,BAHAMAS,New Providence,Nirvana Beach,Surfing,M,NaN,No Injury. Shark swam away with the surf board,N,09h30,Tiger shark,"Tribune242,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6139,1785.09.26.R,Reported 26-Sep-1785,1785.0,Unprovoked,ENGLAND,Sussex,Brighton,NaN,M,NaN,Human remains recovered from shark,Y,NaN,Tiger shark?,"C. Moore, GSAF"
6214,ND.0104,1950s,0.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Helmet diving,M,NaN,"No injury, helmet bitten",N,NaN,Tiger shark,"A. Seekee & R. Callinan, Courier-Mail, 7/7/199..."
6215,ND.0102,"No date, Before 1963",0.0,Unprovoked,BAHREIN,NaN,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,Tiger shark,A.C. Doyle
6240,ND.0066,Before 1961,0.0,Unprovoked,SEYCHELLES,Amirante Islands,Marie Louise Island,Swimming from capsized pirogue,M,NaN,FATAL,Y,NaN,Tiger shark,"Travis, pp. 326-327"
6276,ND.0026,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,M,16,FATAL,Y,NaN,12' tiger shark,Mitchell-Hedges

In [105]:
shark_attack.dropna(axis=0, how='any', subset='Year', inplace=True)
#removendo as linhas com valores nulos na coluna 'anos'

In [108]:
# Transformando a coluna 'Year' de float64 para int64 com o mÃ©todo 'astype'
shark_attack = shark_attack.fillna(0)
shark_attack.Year.astype(int)
shark_attack['Year'] = shark_attack['Year'].astype('int64')

In [112]:
shark_attack['Year'].unique()
#mostar os valores diferentes para ano

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987,
       1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1947, 1946, 1945, 1944, 1943, 1942,
       1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931,
       1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920,
       1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909,
       1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898,
       1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887,
       1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876,
       1875, 1874, 1873, 1872, 1871, 1869, 1868, 1866, 1864, 1863, 1862,
       1860, 1858, 1855, 1853, 1852, 1851, 1849, 1848, 1847, 1840, 1839,
       1837, 1836, 1834, 1831, 1823, 1819, 1818, 1812, 1805, 1801, 1785,
       1776, 1767, 1758, 1733, 1721, 1700, 1642, 1554,    0])

In [113]:
shark_attack = shark_attack[shark_attack['Year'] >= 1543]

In [116]:
tiger_shark_attack = shark_attack[mascara_tiger]

/var/folders/b0/_s54160d52d37v51bszg4cmh0000gp/T/ipykernel_41129/513265003.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tiger_shark_attack = shark_attack[mascara_tiger]

In [143]:
#tiger_shark_attack
#novo dataframe jÃ¡ filtrado apenas os tubarÃµes tigre

In [115]:
shark_attack['Country'].value_counts()

USA                   1316
AUSTRALIA              785
SOUTH AFRICA           420
NEW ZEALAND             78
BAHAMAS                 75
                      ...
HONDURAS                 1
MID ATLANTIC OCEAN       1
PERSIAN GULF             1
NORTH SEA                1
GUINEA                   1
Name: Country, Length: 145, dtype: int64

In [118]:
tiger_shark_attack['Country'].value_counts()

USA              122
AUSTRALIA         55
BRAZIL            12
SOUTH AFRICA      12
NEW CALEDONIA      9
                ...
JAMAICA            1
NEW ZEALAND        1
Fiji               1
CARIBBEAN SEA      1
ENGLAND            1
Name: Country, Length: 37, dtype: int64

In [136]:
shark_brazil = shark_attack[brazil_mask]

/var/folders/b0/_s54160d52d37v51bszg4cmh0000gp/T/ipykernel_41129/1021720358.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  shark_brazil = shark_attack[brazil_mask]

In [124]:
fatal_mask = shark_attack['Fatal (Y/N)'] == 'Y'

In [130]:
tiger_shark_attack['Country'].value_counts()

USA              122
AUSTRALIA         55
BRAZIL            12
SOUTH AFRICA      12
NEW CALEDONIA      9
                ...
JAMAICA            1
NEW ZEALAND        1
Fiji               1
CARIBBEAN SEA      1
ENGLAND            1
Name: Country, Length: 37, dtype: int64

In [132]:
usa_mask = tiger_shark_attack ['Country'] == 'USA'

In [134]:
tiger_usa = tiger_shark_attack[usa_mask]

In [135]:
tiger_usa['Area'].value_counts()

Hawaii            84
Florida           15
North Carolina     8
New Jersey         2
Louisiana          2
South Carolina     2
Alabama            1
Delaware           1
Guam               1
New Mexico         1
Virginia           1
Texas              1
Puerto Rico        1
California         1
Mississippi        1
Name: Area, dtype: int64

In [139]:
shark_brazil ['Area'].value_counts()

Pernambuco              23
Rio de Janeiro           5
0                        2
Alagoas                  1
Boi Island, Victoria     1
Fernando de Noronha      1
Santa Catarina State     1
BalneÃ¡rio CamboriÃº       1
Rio Grande Do Sul        1
MaranhÃ£o                 1
Bahia                    1
Name: Area, dtype: int64

In [142]:
shark_brazil.shape

(38, 15)

In [144]:
tiger_usa ['Area'] == 'Guam'

35      False
53      False
74      False
112     False
140     False
        ...
4968    False
5017    False
5041    False
5836    False
6008    False
Name: Area, Length: 122, dtype: bool